[submodule "node_modules/buster"]
	path = node_modules/buster
	url = git://gitorious.org/buster/buster.git
[submodule "node_modules/growl"]
	path = node_modules/growl
	url = https://github.com/visionmedia/node-growl.git
[submodule "node_modules/glob"]
	path = node_modules/glob
	url = https://github.com/isaacs/node-glob.git
[submodule "node_modules/jshint"]
    path = node_modules/jshint
    url = https://github.com/jshint/jshint.git
[submodule "node_modules/underscore"]
	path = node_modules/underscore
	url = https://github.com/documentcloud/underscore.git
